<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="VcRedistExe" SourceFile="resources\vc_redist.x64.exe" />
    <CustomAction Id="InstallVcRedist"
                  Impersonate="no"
                  ExeCommand="/install /quiet /norestart"
                  BinaryKey="VcRedistExe"
                  Execute="deferred"
                  Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="InstallVcRedist" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
